<!DOCTYPE html>
<head>
</head>
<body>
  <form action="/landmarks/<%= @landmark.id %>" method="post">
    <input id="hidden" type="hidden"  name="_method"  value="patch">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="landmark[name]" value="<%=@landmark.name%>"/><br><br>
    <label for="year_completed">Year:</label><br>
    <input type="text" id="year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed %>"/><br><br>
    <input type="submit" value="Edit Landmark"/>
  </form>
</body>
</html>
