<!DOCTYPE html>
<head>
</head>
<body>
  <form action="/figures" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" placeholder="John Doe"/><br><br>
    <input type="submit" value="Create New Figure"/>
  </form>
</body>
</html>
